# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build files
build/
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Electron
out/

# Environment
.env
.env.local
